
<mat-card class="content">
  <h1 class="title">Agenda de Compromissos </h1>

  <div *ngIf="!loggedIn">
    <mat-form-field appearance="fill">
      <input matInput type="text" placeholder="Inserir Nome do Cliente" [(ngModel)]="name">
    </mat-form-field>

    <button style="margin-left: 2rem;" mat-raised-button [disabled]="!validName" (click)="loggedIn = true">Confirmar nome</button>
  </div>

  <div *ngIf="loggedIn">
    <p>Nome: {{name}}</p>

    <!-- Ações -->
    <div style="display: flex; gap: 1rem">
      <button mat-raised-button (click)="setAppointment()">Marcar Compromisso</button>
      <button mat-raised-button (click)="setAppointment()">Marcar Presença</button>
    </div>
  
    <!-- Listagem de compromissos confirmados -->
  </div>

</mat-card>